<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento - HOSPITAL_MED</title>
</head>
<body>
    <h1>Detalhamento do Agendamento da Consulta - HOSPITAL_MED</h1>

    <p>ID Consulta: {{agendamento.id}}</p>
    <br>
    <p>ID do Paciente: <a href="/pacientes/{{agendamento.id_paciente}}">{{agendamento.id_paciente}}</a></p>
    <br>
    <p>ID do Médico: <a href="/medicos/{{agendamento.id_medico}}">{{agendamento.id_medico}}</a></p>
    <br>
    <p>Horário de início: {{agendamento.hora_inicio}}</p>

    <a href="/agendamentos">Voltar</a>
</body>
</html>