<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internamento - HOSPITAL_MED</title>
</head>
<body>
    <h1>Detalhamento de Internamento - HOSPITAL_MED</h1>

    <p>Id Internamento: {{internamento.id}}</p>
    <br>
    <p>ID do Paciente: <a href="/pacientes/{{internamento.id_paciente}}">{{internamento.id_paciente}}</a></p>
    <br>
    <p>Médico Responsável: <a href="/medicos/{{internamento.medico_resp}}">{{internamento.medico_resp}}</a></p>
    <p>Quarto: {{internamento.quarto}}</p>
    <br>
    <p>Data de Entrada: {{#if internamento.data_entrada}}{{format-date internamento.data_entrada}}{{/if}}</p>
    <br>
    <a href="/internamentos">Voltar</a>
</body>
</html>