<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médico - HOSPITAL_MED</title>
</head>
<body>
    <h1>Detalhamento de Médico - HOSPITAL_MED</h1>

    <p>Id Médico: {{medico.id}}</p>
    <p>CRM: {{medico.crm}}</p>
    <br>
    <p>Nome: {{medico.nome}}</p>
    <br>
    <p>Idade: {{medico.idade}}</p>
    <br>
    <p>Especialização: {{medico.especializacao}}</p>
    <br>
    <a href="/medicos">Voltar</a>
</body>
</html>