<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cirurgia - HOSPITAL_MED</title>
</head>
<body>
    <h1>Detalhamento de Cirurgia - HOSPITAL_MED</h1>

    <p>Id Cirurgia: {{cirurgia.id}}</p>
    <br>
    <p>ID do paciente: <a href="/pacientes/{{cirurgia.id_paciente}}">{{cirurgia.id_paciente}}</a></p>
    <br>
    <p>Médico Responsável: <a href="/medicos/{{cirurgia.medico_resp}}">{{cirurgia.medico_resp}}</a></p>
    <p>Tipo da Cirurgia: {{cirurgia.tipo_cirurgia}}</p>
    <br>
    <p>Data da Cirurgia: {{cirurgia.data_cirurgia}}</p>
    <br>
    <a href="/cirurgias">Voltar</a>
</body>
</html>